<p class="value"><strong>You: <%= params[:value] %></strong></p>
<hr>
<p class="answer">Your coach : <%= @answer %></p>
<hr>

<button class="btn-light "><%= link_to "Ask a new question", ask_path %></button>
